<style>
    h1{
      color:MediumOrchid;
      text-align:center;
      
      }
    h3,p {
  color:DodgerBlue
  }
  
  body {
 background-image: url("h3ttps://www.freepik.com/free-vector/cool-colors-abstract-hand-painted-background_5537912.htm#page=1&query=cool%20backgrounds&position=1");
}

#skills h3{color:Aquamarine
  }
  </style>
